<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ihelin.car.db.mapper.AccessTokenMapper" >
  <resultMap id="BaseResultMap" type="com.ihelin.car.db.entity.AccessToken" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="gen_time" property="genTime" jdbcType="TIMESTAMP" />
    <result column="expires_time" property="expiresTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, token, gen_time, expires_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from AccessToken
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAccessToken" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AccessToken
    limit 0,1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from AccessToken
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ihelin.car.db.entity.AccessToken" useGeneratedKeys="true" keyProperty="id" >
    insert into AccessToken (token, gen_time, expires_time
      )
    values (#{token,jdbcType=VARCHAR}, #{genTime,jdbcType=TIMESTAMP}, #{expiresTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ihelin.car.db.entity.AccessToken" useGeneratedKeys="true" keyProperty="id" >
    insert into AccessToken
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="token != null" >
        token,
      </if>
      <if test="genTime != null" >
        gen_time,
      </if>
      <if test="expiresTime != null" >
        expires_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="genTime != null" >
        #{genTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiresTime != null" >
        #{expiresTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ihelin.car.db.entity.AccessToken" >
    update AccessToken
    <set >
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="genTime != null" >
        gen_time = #{genTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiresTime != null" >
        expires_time = #{expiresTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ihelin.car.db.entity.AccessToken" >
    update AccessToken
    set token = #{token,jdbcType=VARCHAR},
      gen_time = #{genTime,jdbcType=TIMESTAMP},
      expires_time = #{expiresTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>