<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ihelin.car.db.mapper.CarouselMapper" >
  <resultMap id="BaseResultMap" type="com.ihelin.car.db.entity.Carousel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, thumbnail, sort, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Carousel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Carousel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ihelin.car.db.entity.Carousel" useGeneratedKeys="true" keyProperty="id" >
    insert into Carousel (thumbnail, sort, create_time
      )
    values (#{thumbnail,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ihelin.car.db.entity.Carousel" useGeneratedKeys="true" keyProperty="id" >
    insert into Carousel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ihelin.car.db.entity.Carousel" >
    update Carousel
    <set >
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ihelin.car.db.entity.Carousel" >
    update Carousel
    set thumbnail = #{thumbnail,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="listCarouselByCondition" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Carousel order by sort desc
	</select>
	<select id="listCarouselCount" resultType="int" parameterType="java.util.Map">
		select
		count(id)
		from Carousel
	</select>
</mapper>